[submodule "Carthage/Checkouts/RxSwift"]
	path = Carthage/Checkouts/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
[submodule "Carthage/Checkouts/RxOptional"]
	path = Carthage/Checkouts/RxOptional
	url = https://github.com/RxSwiftCommunity/RxOptional.git
